/* Box sizing */
* {
    box-sizing: border-box;
   
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0 ;
    background: linear-gradient(to bottom, rgba(8, 101, 233, 0.5), rgba(37, 54, 245, 0.752));
}
.haus{
    text-align: center;
    color: rgb(224, 221, 221);
    
  }
  .topnav{
    padding: 15px;
    margin: 5px;
    justify-content: space-between;
  }
  .verkefni{
    display: none;
  }
  .litur-bakgrunnur{
    background-image: linear-gradient( yellow,white )
  }
  .innermenu{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: rgb(196, 192, 192);
  }
  .efstsida{
    position: fixed;
    top: 1em;
    right: 1em;
    color: black;
    size: 20em;
  }
  .bakgrunnurtop{
    padding: 35px;
  }
  hr{
    color: white;
    size: 5px;
  }
  
  @media screen and (min-width:37.5em) {
    .col-2  {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2em;
    }
    .verkefni{
      display: inline;
      position: absolute;
      top: 0em;
      right: 5px;
    }
    .haus{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px;
      margin-top: 10px;
    }
    .efstsida{
      position: fixed;
      bottom: 1em;
      right: 1em;
    }
    }
    @media screen and (min-width:48em){
      .fotur{
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        list-style-type: none;
      }
      .main {
        border: 1px solid blue;
      }
      .footer{
        border: 1px solid black;
      }
      blockquote{
        border: 1px solid green;
        margin: 20px;

     }
     .innermenu{
      display: flex;
      flex-flow: row;
      padding: 15px;
     }
     hr{
      display: none;
     }
     .hr1, .hr2, .hr3, .hr4, .hr5, .hr6{
      padding: 10px;
      margin-right: 20px;
     }
     }
     @media screen and (min-width:60em){
      .col-2, .haus, .col-1, .innermenu{
      margin: 0 auto;
      max-width: 80%;
        
    }
    }