
body { 
    /* Nota width til að ákveða hversu marga pixla
    ég ætla að nota */ 
    width: 800px;
    /* Nota border til að setja ramma kringum síðuna*/
    border: 1px solid rgb(221, 20, 20);
    /* Nota margin:0 auto til að setja allt í miðju*/
    margin:0 auto ;
    /* nota margin-top til að ákveða hversu marga pixla
    frá toppnum ég vil hafa síðuna */
    margin-top: 15px;
    /* Nota padding-top til að ákveða hversu marga pixla
    frá toppnum af rammanum ég vil að textin kemur*/
    padding-top: 40px;
    /* Nota padding left til að ákveða hversu marga pixla
    frá vinstri hlið af rammanum ég vil að textinn kemur*/
    padding-left: 20px;
    /* Nota font family til að ákveða hvaða font ég vil fyrir 
    vefsíðuna*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
/* Nota blar fyrir bláan lit til að setja í class á html skjali*/    
}
.blar {
    color: rgb(1, 1, 160);
/* Nota grann fyrir grænan lit til að setja í class á html skjali*/
}
.grann{
    color: rgb(23, 107, 2);
}
/* Nota brunn fyrir brúnan lit til að setja í class á html skjali*/
.brunn {
    color: rgb(128, 31, 31);
}
/* allt skáletrað (em) fær aqua lit nema það sé sett annar class á það*/
em {
    color: rgb(65, 255, 255);
}
/* allt feitletrað (strong) fær brúnan lit nema það sé sett annar class á það*/
strong {
    color: brown;
}
/* linkur sem er búið að fara ínná verður bleikur*/
a:visited {
    color: rgb(255, 86, 199);
}
/* linkur sem er verið að hovera yfir verður brúnn*/
a:hover {
    color: rgb(141, 125, 107);
}
/* Þegar það er smellt á linkinn verður hann bisque á litinn meðan músa takkanum er haldið niðri */
a:active {
    color: bisque;
}